/* Pour les écrans, quand la largeur 
de la fenêtre fait au maxium 1200px */
@media screen and (max-width: 1200px) {

}
/* Pour tous types d'écrans, 
quand la largeur de la fenêtre 
est comprise entre
1024 et 1280px*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
/* Les instructions */

}

p{
    color:red;
    background-color: black;
    font-size: 1.2em;
}


/* Pour tous types d'écrans orientés verticalement */
@media all and (orientation: portrait) {}

/* */
:focus {
    background-color: aquamarine;
}


input {
    caret-color: mediumpurple;
    font: 18px;
}

fieldset {
    border-radius: 1px solid black;
    background-color: blueviolet;
}

legend {
    border-radius: 1px solid black;
    background-color: darksalmon;
}