nav {
    border-bottom: 5px solid #000000; 
    border-radius: 50% 50%; 
    background-color: royalblue;
    font-size: large;
    font-weight: bold;}

.Navigateur li {
    display: inline-block;
    padding-inline: 100px;}

    a {
        color: black;
        text-decoration: underline;}



