h1{
    color:blue
}

h3{
    color:blueviolet
}

p{
    color:chartreuse
}

h4{
    color:darkorange
}
/*
my fruit and vegetable
*/
p{
    color:darkmagenta;
}

/* color for maclasse */
.maclasse{
    color:green;
}
 




