h1 {
    color: blue
}

h3 {
    color: blueviolet
}

p {
    color: chartreuse
}

h4 {
    color: darkorange
}

/*
my fruit and vegetable
*/
p {
    color: darkmagenta;
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* color for maclasse je veux que les éléments appartiennent à la classe qui s'appelle maclasse je veux qui affiche en couleur verte*/ 
.maclasse { 
    color: green; 
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: Montserrat; 
}

p {
    font-size: 1.1em;
    font-family: Manrope;
    color: magenta;
    font-size: 20px;
    padding-left: 60px;
    padding-left: 20px;
    font-weight: bold;
}

li {
    font-size: 1em;
    font-family:manrope;  
    color: forestgreen;  
}

.mabordure {
    padding: 30px;
    background-color: indigo;
    border: solid red;
    border-top: 25px #EB5353 solid;
    border-right: 20px #eb5398 solid;
    border-bottom: 25px goldenrod solid;
    border-left: 5px yellowgreen solid;
    border-radius: 10px 10px 10px 10px 10px;
}
p{
    color:aqua;
}