table {
    border-collapse: collapse;
}

td { 
          border:1px solid black;
          color: crimson;
        }
th {
    border: 1px solid black;
    color: black;
}
th {
    background-color: brown;
}